/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: #141414;
    color: #6a717e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    top: 0;
    width: 100%;
    height: 10vh;
    padding: 0 30px;
    font-size: 20px;
    background-color: #141414;
    z-index: 1000;
}

.myName {
    color: red;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px black;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: red;
}

.skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.skill-category {
    margin-bottom: 20px;
}

.category-name {
    display: inline-block;

    font-weight: 900;
    font-size: 30px;
    margin: 30px 0 20px 0;
    padding-bottom: 5px;

    border-bottom: 2px solid #e50914;
    color: white;
}

.skills-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.skills-row:not(:first-child) {
    position: relative;
    margin-top: -50px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.hexagon {
    display: flex;
    align-items: center;
    
    width: 150px;
    height: 172px;
    overflow: visible;
}

.skill-content {
    fill: #1e1e1e;
    transform: scale(0.95);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.skill-image {
    x: 25px;
    y: 25px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.skill:hover .skill-content {
    transform: scale(1);
    filter: drop-shadow(0px 1px 8px rgba(255, 0, 0, 0.2));
}

.skill:hover .skill-image {
    transform-origin: center;
    transform: scale(1.05);
}

.skill-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 20px auto;

    gap: 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    height: 220px;

    padding: 10px;

    background-color: #1e1e1e;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.2);
    cursor: pointer;
}

.skill-card img {
    width: 40px;
    height: 40px;
    margin: 20px 0px 30px 0px;
}

.skill-card h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}


.skill-card p {
    font-size: 16px;
    color: rgb(166, 166, 166);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}